[Unit]
Description=Simple Python Server

[Service]
Restart=always
User=root
WorkingDirectory=/home/www
ExecStart=/usr/bin/python3 -u server.py > logs/server.log

[Install]
WantedBy=multi-user.target
